<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/home.css">

</head>
<body>
    <div class = 'options'>
        <center  >

                <form action="/qrcode" method="post">
                    <input type="submit"  value="QrCode Generator" class="in" >
  
                </form>


             <form action="/texttospeech" method="GET">
                    <input type="submit"  value="Text to Speech" class="in">
                </form>
             <form action="/urlshortform" method="GET">
                    <input type="submit"  value="Url Shortner" class="in" >
                </form>

            <form action="/taketext" method="GET">
                    <input type="submit"  value="Translater" class="in">
                </form>
                                
                <form action="/password" method="GET">
                    <input type="submit"  value="Generate Strong Passord" class="in" >
                </form>
                    <a href = 'https://flipkartreviewscrapperapp.herokuapp.com/'><input type="submit"  value="Flipkart Reviews Scrapper" class="in" ></a>
        </center>
        <center>            <a href = 'https://diabetespredictionkaggle.herokuapp.com/'><input type="submit"  value="Diabetes Predictor" class="in" ></a>
</center>
    </div>
    </body>
</html>