<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body class="passbody">
    <h1 class = 'strongpass'>Strong Password:</h1>
<div class = 'passh1'><center><h1 >{{password}}</h1></center></div>
<form action="/" method="GET">
    <input type="submit" value="Home" style=" background-color: Green;
border: none;
color: white;
padding: 13px 30px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;">

</form>
</body>
</html>