<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UrlShortner</title>
<link rel="stylesheet" href="/static/css/style.css">

</head>
<body class="urlbody">
<center><div class="login">
	<!-- <h1>Text To Speech</h1> -->
    <form action="/urlshow" method="POST" style="padding-top: 200px;">
    	<input  type="text" name="url" class = 'qrinput' placeholder="Enter text here" required="required" />
                <button type="submit"  class="button"><span>Shorten </span></button>


    </form>
 </div>
</center>

  <form action="/" method="GET" style="padding-top: 180px;">
                  <input type="submit" value="Go Back" style=" background-color: Green;
  border: none;
  color: white;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  ">

   </form>
</body>
</html>

